/*--Kervan Style Sheet--*/

@media(max-width: 1200px) {
    html {
        font-size: 20px
    }
}

@media(max-width: 900px) {
    html {
        font-size: 15px
    }
}

@media(max-width: 600px) {
    html {
        font-size: 12px
    }
}


body {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    display: block
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    cursor: pointer;
}

.nonLink {
    cursor: default;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.bigMargin {
    
}

/*------------------------ MAIN PAGE ---------------------------*/
#titleFont {
    position: absolute;
    top: calc(20% - 25px);
    font-size: 4rem;
    left: 5%;
}

#searchButton {
    position: absolute;
    top: calc(50% - 15px);
    right: 7%;
    height: 30px;
    width: 30px;
}

#searchButtonIcon {
    position: absolute;
    top: calc(50% - 15px);
    right: 7%;
    height: 30px;
    width: 30px;
    background-image: url(../img/searchIcon2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    cursor: pointer;
    border: 0;
    outline: 0;
}

#searchButtonIcon:hover {
    opacity: 0.85;
}

.searchBar {
    position: absolute;
    padding-left: 8px;
    padding-right: 37px;
    top: calc(50% - 15px);
    left: 7%;
    height: 28.5px;
    width: calc(86% - 45px);
    background-color: rgba(255,255,255,0.5);
    color: rgb(30,30,30);
    font-size: 18px;
    max-height: 30px;
    outline: none;
    border: none;
    box-shadow: none;
}

#xBorder {
    position: absolute;
    top: 80%;
    left: 12%;
    width: 76%;
    height: 4px;
    background-color: cadetblue;
}

.topLinks {
    position: absolute;
    top: 1.5%;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.topSpacer {
    position: absolute;
    top: 1.5%;
    height: 20px;
    width: 2px;
    background-color: black;
}

.bottomLinks {
    position: absolute;
    top: calc(82% + 4px);
    width: 10%;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.modalBackground {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8)
}

.modalContent {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 400px;
}

.modalInput {
    display: block;
    border: none;
    border-bottom: 1px solid #808080;
    width: calc(100% - 32px);
    display: block;
    padding: 8px 16px 8px 16px;
    border: none;
    outline: none;
    border: 1px solid #ccc!important;
    margin-bottom: 16px!important;
}

.modalInput:not(:valid)~.w3-validate {
    color: forestgreen;
}

.rememberLogin {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    margin-top: 8px!important;
}

.rememberLogin:checked+ {
    color: #009688;
}

.rememberLogin:disabled+ {
    color: #aaa;
}

.modalForm {
    padding: 0.01em 16px
}

.modalForm:after {
    content: "";
    display: table;
    clear: both
}

.modalInDiv {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.modalButton {
    color: #fff!important;
    background-color: #4CAF50!important;
    margin-top: 8px!important;
    margin-bottom: 8px!important;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 100%
}

.modalButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.loginTab {
    display: inline-block;
    padding: 15px;
    width: calc(50% - 32px);
    text-align: center;
}

.loginTab:hover {
    background-color: #f9f9f9;
}

.loginTabSelected {
    background-color: white;
}

.loginTabsContainer {
    display: inline-block;
    background-color: #ccc;
    width: 100%;
}

.w3-container {
    padding: 0.01em 16px
}

.w3-container:after {
    content: "";
    display: table;
    clear: both
}

.w3-border-top {
    border-top: 1px solid #ccc!important
}

.w3-padding-16 {
    padding-top: 8px!important;
    padding-bottom: 8px!important
}

.w3-light-grey {
    color: #000!important;
    background-color: #f1f1f1!important
}

.btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    white-space: nowrap;
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-btn:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-red {
    color: #fff!important;
    background-color: #f44336!important
}

.right {
    float: right!important
}

.w3-padding {
    padding: 8px 16px!important
}




/*--------------------------------------------------------------*/
/*-------------------------- PAGE 1 ----------------------------*/
/*--------------------------------------------------------------*/

#activityContainer {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    top: 60px;
    height: 37px;
    display: block;
}

#locationTitleBar {
    position: absolute;
    top: 10px;
    height:45px;
    left: 10px;
    right: 500px;
    display: block;
}

#locationName {
    font-size: 30px;
    display: inline-block;
}

#locationPageSearch {
    position:relative;
    top:-10px;
    height:calc(100% - 4px);
    width:500px;
    display: inline-block;
}

.searchBarLoc {
    position: relative;
    top: 8px;
    left: 15px;
    width: calc(100% - 15px);
    background-color: rgba(200,200,200,0.5);
    color: rgb(30,30,30);
    font-size: 18px;
    outline: none;
    border: none;
    box-shadow: none;
}

.colorCoded {
    padding-top: 10px;
}

.activityTitle {
    padding-top:3px;
}

.filterMenu {
    height: calc(100% - 7px);
    width: calc(20% - 0px);
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 7px;
    border-bottom: 2px black solid;
}

.filterMenu.active, .filterMenu:hover {
    background-color: rgba(200,200,200,0.5);
}

.rightMarginLarge {
    margin-right: 0px;
}

#mainContainer {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    top: 104px;
    height: calc(100% - 114px);
    display: inline-block;
}

#selectContainer {
    position: relative;
    height: 100%;
    width: calc(30% - 3px);
    margin-right: 3px;
    float: left;
    display: inline-block;
}

.ddTitle {
    margin-bottom: 4px;
    width: 100%;
    height: 26px;
    background-color: #cccccc;
}

.ddTitle:hover {
    background-color: #a6a6a6;
}

#ddTitle1 {
    top: 0px;
}

#ddTitle2 {
    top: 30px;
}

#ddTitle3 {
    top: 60px;
}

#ddTitle4 {
    top: 90px;
}

#ddTitle5 {
    top: 120px;
}

.ddContainer {
    position: absolute;
    top:39px;
    width:20%;
    background-color: white;
    display: none;
    z-index: 2;
    font-size: 13px
}

#dd1 {
    left: 0px;
}

#dd2 {
    left: 20%;
}

#dd3 {
    left: 40%;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordionPanel {
    padding: 0 10px;
    background-color: white;
    display: none;
}

.checkBoxItem {
    
}

#filteredContainer {
    top: 0px;
    height: 100%;
    width: calc(100% + 6px);
    margin-left: -6px;
    overflow-y: auto;
}

.filteredItem {
    height: 16vw;
    background-color: red;
}

.halfDiv {
    width: calc(50% - 6px);
    margin: 0px 0px 6px 6px;
    display: inline-block;
    float: left;
}

.filteredImage {
    width: 100%;
    height: 80%;
    background-color: goldenrod;
}

.filteredName {
    width: 100%;
    height: 20%;
    background-color: pink;
}

#mapContainer {
    height: 100%;
    margin: 0;
    background-color: green;
    display: inline-block
}

.popupMap {
    width: calc(45% - 8px);
}

.nopopupMap {
    width: 70%;
}

#popupContainer {
    height: 100%;
    width: calc(25% + 0px);
    margin: 0;
    background-color: purple;
    float: left;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.listDD:hover .dropdown-content {
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/*--------------------------------------------------------------*/
/*-------------------------- PAGE 2 ----------------------------*/
/*--------------------------------------------------------------*/

.storeMenu {
    height: calc(100% - 7px);
    width: calc(16.667% - 6.67px);
    background-color: #a3bac2;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 7px
}
#socialMediaMenu {
    position: absolute;
    left: 10px;
    width: calc(40% - 20px);
    top: 55px;
    height: 32px;
    display: block;
    background-color: pink;
    display: inline-block;
}

.socialItem {
    width: 32px;
    margin-right: 3px;
    background-color: goldenrod;
    height: 100%;
    display: inline-block;
}

#shopActivityContainer {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    top: 95px;
    height: 37px;
    display: block;
    background-color: paleturquoise;
}

#mainStoreContainer {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    top: 140px;
    display: inline-block;
}

.storeContainerMargin {
    position: relative;
    margin: 0px 0px 10px 0px;
    width: 100%;
}
#storePhotoContainer {
    height: 35vh;
    background-color: red;
}

#storeOverviewContainer {
    background-color: magenta;
}

#storeLocationContainer {
    background-color: magenta;
    height: 25vh;
}

#storeProductsContainer {
    background-color: magenta;
    height: 20vh;
}

#similarShopsContainer {
    background-color: darkcyan;
    height: calc(20vh + 20px);
}

.storeSectionHeader {
    font-size: 22px;
    display: inline-block;
    width: 20%;
    background-color: blanchedalmond;
}

.storeSectionContent {
    display: inline-block;
    width: 80%;
    height: 100%;
    background-color: royalblue;
    float: right;
}

.similarContainer {
    width: 100%;
    height: calc(100% - 30px);
    background-color:grey
}

.similarItem {
    display: inline-block;
    width: calc(10% - 10px);
    height: calc(100% - 6px);
    margin: 3px 3px 3px 3px;
    background-color: maroon;
}

.locationAddress {
    height: 100%;
    width: 30%;
    background-color: rebeccapurple;
    display: inline-block;
}

.locationMap {
    height: 100%;
    width: calc(70% - 10px);
    float: right;
    background-color: rosybrown;
    display: inline-block;
}





/*-- PRICE RANGE SLIDER --*/
.ui-slider-range {
    background: #007fff;
    height: 100%;
} 

.ui-slider-horizontal {
    position: absolute;
    top: 130px;
    height: 6px;
    width: 90%;
    margin-left: 5%;
}

.ui-slider .ui-slider-handle {
    z-index: 2;
    width: 10px;
    height: 10px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
} 

.ui-widget-content .ui-state-active {
    border: 1px solid #0073e6;
    background: #007fff;
} 

.ui-slider-horizontal .ui-slider-handle {
    top: -3px;
    margin-left: -5px;
} 

#histogramContainer {
    position: absolute;
    top: 40px;
    height: 80px;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid black;
    background-color: aliceblue;
} 

.histo {
    position: absolute;
    bottom: 0px;
    background-color: red;
    float: left;
    display: block;
    margin-left: 5px;
} 

.histoBack {
    display: inline-block;
    height: 100%;
    float: left;
}
